meta name='description' content="Celebrating South Asian talent and building community with a festival in the Pacific Northwest"
meta property='og:url' content="http://dxnw.org"
meta property='og:title' content="Desi by Northwest, sponsored by Tasveer"
meta name='twitter:title' content="Desi by Northwest"
meta property='og:image' content="http://subdrift.s3.amazonaws.com/needle.jpg"
meta property='og:description' content="Celebrating South Asian talent and building community with a festival in the Pacific Northwest"
meta name='twitter:site' content="http://twitter.com/tasveerseattle"
meta name='twitter:creator' content="@tasveerseattle"
meta property='article:author ' content="Ash Bhoopathy"
meta property='og:site_name' content="Desi by Northwest"
meta name='twitter:card' content='summary_large_image'
